.container{
  margin: 0 auto;
  width: 100%;
}

.section.auto {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
}

.section.auto > section{
  margin: 0;
  width: 33%;
  border-right: 1px solid #ddd;
  text-align: left;
}

.section.auto > section:last-child{
  border-right: 0px solid #ddd;
}

.section.auto > section > article{
  margin: 25px 15px;
}

.section.auto > section:first-child{
  height: 100vh;
}
