body{
  background: #000107;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#view{
  display: block;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

[class*="slide-"]{
  position: relative;
  /*border-top: 1px dashed rgba(0, 128, 0, 0.37);*/
  height: 100vh;
}

/*[class*="slide-"]:first-child{
  border-top: 0px;
}*/

[class*="slide-"] .caption{
  margin: 0 auto;
  margin-top: 30px;
  width: 600px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  z-index: 1;
}

[class*="slide-"]::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 0%);
}

[class*="slide-"] .caption{
  color: white;
}

.slide-start::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
}

[class*="slide-"].slide-start .caption{
  color: rgba(0, 0, 0, 0.65);
}

.slide-two::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.90) 60%);
}

.slide-end::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.90) 0%,rgba(0,0,0,0.98) 60%);
}

/*Device*/

[data-targets*="device-"]{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  max-width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.14);
  border-radius: 200%;
  background: #ceb056;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-indent: -10000%;
  opacity: .9;
}

[data-targets*="device-"] .top, [data-targets*="device-"] .bot{
  display: block;
  width: 30px;
  height: 5px;
  background: #607D8B;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 2px;
}

[data-targets*="device-"] .bot{
  top: auto;
  bottom: -3px;
  z-index: 2;
}

[data-targets*="device-"] .air{
  display: block;
  width: 30px;
  height: 30px;
  background: rgba(0, 188, 212, 0.23);
  border: 1px solid rgba(51, 51, 51, 0.44);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 200%;
}

[data-targets*="device-"].type_1{
  background: #ceb056;
}

[data-targets*="device-"].type_2{
  border-radius: 22px;
  width: 220px;
}

[data-targets*="device-"].type_2::after{
  content: "";
  display: block;
  width: 40px;
  height: 30px;
  background: #ceb056;
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 22px;
}

[data-targets*="device-"]::before{
  content: "";
  width: 2px;
  height: 600px;
  background: rgba(51, 51, 51, 0.44);
  position: absolute;
  left: 48%;
  bottom: 99px;
}

[data-targets*="device-"] .device.control{
  /*display: none;*/
}

[class*="control-"]{
  background: #ceb056;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 auto;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translate(-50%, 0%);
}

[class*="control-"]::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 4px;
  background: transparent;
  box-shadow: 0px 4px 8px rgba(76, 175, 80, 0.76);
  border-radius: 200%;
  margin-left: 0px;
  margin-top: 8px;
}

[class*="selection"]{
  margin: 0 auto;
  width: 200px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0);
  z-index: 3;
  text-align: center;
}

[class*="selection"] h3{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 100;
  text-transform: uppercase;
}


[class*="selection"] .form-control{
  display: block;
  width: 100%;
  padding: .5em .75em;
  font-size: 1em;
  line-height: 1.25;
  color: white;
  background-color: transparent;
  background-image: none;
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,.15);
  border-radius: .25em;
  height: calc(2.25em + 2px);
}

[class*="selection"] button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5em .75em;
  font-size: 1em;
  line-height: 1.25;
  border-radius: .25em;
  transition: all .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
}

.landing .slides{
  position: relative;
  z-index: 1;
}

.landing .media{
  margin: 0 auto;
  width: 100%;
  height: 120vh;
  max-width: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 1;
  transition: all 0.8s ease;
}

.landing .media video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/**/

#view.def .landing .media, #view.two .landing .media, #view.three .landing .media{
  top: -20%;
  transition: all 0.8s ease;
}

#view.top .landing .media{
  top: 0%;
  transition: all 0.8s ease;
}

/*event-layer*/

.event-layer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.event-layer::before{
  content: "";
  position: absolute;
  top: -20%;
  left: -25%;
  width: 150%;
  height: 140%;
  box-shadow: 0px 200px 320px #000000 inset;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 200%;
}
